include README.md
include LICENSE
include CHANGELOG.md
include CITATION.cff
include requirements.txt
include pyproject.toml
include grasp/py.typed
include grasp/sysdata/_Catalogue.xlsx
include grasp/sysdata/base.frm
recursive-include grasp/analyzers/_Rcode *.R
